{% extends 'base.html' %}

{% block content %}

<div class="account-page">
  <h2 class="title">User Profile Card</h2>

  <div class="card">
    <img src="./static/img/default-user.jpg" alt="default user" width="200">
    <h3>{{ current_user.username }}</h3>
    <p>Harvard University</p>
    <br/>
    <p class="account-page__subtitle">Average time per task:</p>
    <h3>{{ average_time }}</h3>
    <p class="account-page__subtitle">Tasks:</p>
    <h3>{{ tasks }}</h3>
  </div>
</div>

{% endblock %}