<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Math competition</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('account') }}">Account</a></li>
        <li><a href="{{ url_for('rating') }}">Rating</a></li>
        <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
        <li class="right"><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
        <li class="right"><a href="{{ url_for('registration') }}">Register</a></li>
        <li class="right"><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
  </html>
