{% extends 'base.html' %}

{% block content %}
  <div class="account-page">
    <h3>Top 30 rating list:</h3>
    <table>
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Speed</th>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for user in sorted_rating %}
        <tr>
          <td>{{ user[0] + 1 }}</td>
          <td><strong>{{ user[1][0] }}</strong></td>
          <td>{{ user[1][1] }}</td>
          <td>{{ user[1][2] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}