{% extends 'base.html' %}

{% block content %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
    <div class="row">
      <div class="input-field col s12">
        <input id="user_name" type="text" class="validate" name="username">
        <label for="user_name">User Name</label>
      </div>
    </div>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <input id="email_inline" type="email" class="validate" name="email">
        <label for="email_inline">Email</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
      </div>
      <div class="input-field col s6">
          <input id="passwordConfirm" type="password" name="confirm_password">
          <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match" data-success="Password Match">Password (Confirm)</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
      </div>
  </div>
  <div>
    {{ form.submit(class="btn submit-button") }}
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}