{% extends 'base.html' %}

{% block content %}
<form method="POST", action="/tasks/{{ task.id }}">
  {{ calculation.hidden_tag() }}
  <h3>Countries I have been to:</h3>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ task.name }}</h5>
    <p class="card-text">{{ task.text }}</p>

  </div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"></span>
  </div>
  Result: {{ calculation.result }}
</div>
  <div>
    {{ calculation.submit(class="btn btn-outline-info") }}
  </div>
</div>
</form>
{% endblock %}